.frameTop1 {
  display: flex;
  flex-direction: row;
  margin-left: -4px;
}
.frameTop1_1 {
  width: 4px;
  height: 20px;
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%);
  background: aqua;
}
.frameTop1_2 {
  width: 700px;
  height: 20px;
  background: aqua;
}

.frameTop2 {
  width: 700px;
  height: 10px;
  background: aqua;
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 1% 100%);
}

.holeFrame {
  width: 160px;
  height: 100px;
  margin-left: 361px;
  background: aqua;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 30px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
}
.holeFrameSupport {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -109px;
  margin-left: 110px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 52%);
  background-color: aqua;
  width: 100px;
  height: 20px;
}
.hole {
  background-color: #242424;
  width: 120px;
  height: 70px;
  margin-inline: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
  position: relative;
  overflow: hidden;
}

.trigger {
  transform-origin: top left;
  position: absolute;

  top: 50%;
  left: 50%;
  width: 30px;
  height: 55px;
  margin-top: -98px;
  margin-left: 112px;
  background: #443c3c;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 25px;
  clip-path: polygon(30% 0%, 100% 0%, 75% 40%, 0% 100%);
}

@keyframes jaehee {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.animate {
  animation-name: jaehee;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.handleTop {
  width: 160px;
  height: 100px;
  background-color: aqua;
  clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
}
.frameBottom {
  display: flex;
  flex-direction: row;
}
.handleBottomUnder {
  position: relative;
  width: 192px;
  height: 200px;
  margin-left: 521.7px;
  background: aqua;
  display: flex;
  align-items: center;
  clip-path: polygon(0% 0%, 83% 0%, 100% 100%, 17% 100%);
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 65px;
}

.handleScratchTop {
  width: 162px;
  height: 170px;
  margin-top: -70px;
  margin-left: 178px;
  background: #443c3c;
  display: flex;
  align-items: center;
  clip-path: polygon(0% 0%, 83% 0%, 100% 100%, 17% 100%);
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 65px;

  position: absolute;
  top: 50%;
  left: 50%;
  border-top-right-radius: 100px;
  border-top-left-radius: 10px;
}

.handleScratchBottom {
  width: 162px;
  height: 170px;
  margin-top: 85px;
  margin-left: 270px;
  background: #443c3c;

  display: flex;
  align-items: center;
  clip-path: polygon(0% 0%, 83% 0%, 100% 100%, 17% 100%);
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 65px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
