.rootContainer {
  position: relative;
  animation-name: jaehee;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes jaehee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}
.container {
  position: relative;
  width: 700px;
  height: 80px;
  border: 1px solid aqua;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  flex-direction: row;
  background-color: #242424;
}

.logoContainer {
  border: 1px solid aqua;
  border-radius: 3px;
  padding: 5px;
}
.sight {
  padding-right: 15px;
  padding-left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  flex: 0.8;
  justify-content: end;
  display: flex;
  align-items: center;
  color: aqua;
}
.number1 {
  flex: 0.4;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: small;
  color: aqua;
}
.country {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: small;
  color: aqua;
}
.number2 {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: small;
  color: aqua;
}

.rearSerrationsContainer {
  flex: 4;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  height: 100%;
  width: 300px;
  padding-right: 18px;
}
.rearSerrations {
  height: 75px;
  width: 10px;
  display: flex;
  justify-content: end;
  background-color: aqua;
  margin-inline: 6px;
}
